@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '@vueform/multiselect/themes/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cool-shadow {
    @apply shadow-[0_0_0_#201E1F] hover:shadow-[10px_10px_0_#201E1F] transition-shadow
  }

  .default-link {
    @apply underline opacity-70 hover:opacity-100 hover:text-primary-dark transition-opacity duration-200
  }

  .default-link-light {
    @apply underline opacity-70 hover:opacity-100 hover:text-primary-light transition-opacity duration-200
  }

  .btn-link {
    @apply w-fit border-2 px-3 py-1 sm:py-2 md:py-3 lg:px-5 lg:py-4 text-sm sm:text-base md:text-lg border-primary-dark bg-primary-light text-primary-dark
    cool-shadow disabled:shadow-none enabled:opacity-100 disabled:opacity-50 disabled:cursor-not-allowed transition-all
  }

  .btn-pagination {
    @apply btn-link py-1 sm:py-1.5 md:py-2 lg:py-3 text-sm font-bold sm:text-base
  }

  .slide-title {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-4 text-primary-dark uppercase
  }

  .truncate-second-line {
    @apply overflow-hidden text-ellipsis line-clamp-2
  }

  .truncate-third-line {
    @apply truncate-second-line line-clamp-3
  }
}

.select-default {
  --ms-radius: none;
  --ms-bg: #F5F5F5;
  --ms-border-width: 2px;
  --ms-ring-color: #F5F5F5;
  --ms-border-color: #201e1f;
  --ms-border-color-active: #201e1f;

  --ms-dropdown-bg: #F5F5F5;

  --ms-option-bg-selected: #333333;
  --ms-option-bg-selected-pointed: #201e1f;

  --ms-dropdown-border-color: #201e1f;
  --ms-dropdown-border-width: 2px;

  --ms-tag-bg: #333333;
  --ms-tag-radius: 0px;
}
